<head>
    <p style="text-align: center; color: #1589FF; font-size: 1.5em">
        User Portal
    </p>
</head>
<body style="text-align: center; color: #1589FF; font-size: 1.2em">
    <p style="text-align: center; color: #FF8050; font-size: 1.2em">
    Sign In
    </p>
    <%= form_with scope: :admin, local: true do |form| %>
      <%= form.label(:username, "Username: ") %>
      <%= form.text_field(:username) %> <br><br>
      <%= form.label(:password, "Password: ") %>
      <%= form.password_field(:password) %> <br><br>
      <%= form.submit("Sign In") %>
  <% end %>
      
</body>
<center>
<br><br>
<%= link_to 'Create New Admin', admins_signup_path %>
<center>