<head>
    <p style="text-align: center; color: #1589FF; font-size: 1.5em">
        Admin Portal
    </p>
</head>
<body style="text-align: center; color: #1589FF; font-size: 1.2em">
    <p style="text-align: center; color: #FF8050; font-size: 1.2em">
    Sign Up
    </p>
  <%= form_with scope: :admin, url: admins_path, local: true do |form| %>

    <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@admin.errors.count, "error") %> prohibited
        <br>Information is too short.
      </h2>
      <ul>
        <% @admin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <%= form.label(:name, "Name: ") %>
    <%= form.text_field(:name) %> <br><br>
    <%= form.label(:username, "Username: ") %>
    <%= form.text_field(:username) %> <br><br>
    <%= form.label(:password, "Password: ") %>
    <%= form.password_field(:password) %> <br><br>
    <%= form.submit("Sign Up") %>
<% end %>

<br><br>
<%= link_to 'Sign In to Existing Admin', admins_sigin_path %>
</body>