<head>
    <p style="text-align: center; color: #1589FF; font-size: 1.5em">
        Admin Portal
    </p>
</head>
<body style="text-align: center; color: #1589FF; font-size: 1.2em">
    <p style="text-align: center; color: #FF8050; font-size: 1.2em">
    All Users Information
    </p>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Parent</th>
      <th>Created At</th>
      <th></th>
    </tr>
 
    <% @adminObj.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.parent %></td>
        <td><%= user.created_at %></td>
        <td><%= link_to 'Show', admin_path(user) %></td>
        <td><%= link_to 'Edit', edit_admin_path(user) %></td>
        <td><%= link_to 'Destroy', admin_path(user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
  <br><br>
  <%= link_to 'Home', admins_path %>
</body>