<head>
    <p style="text-align: center; color: #1589FF; font-size: 1.5em">
        User Portal
    </p>
</head>
<body style="text-align: center; color: #1589FF; font-size: 1.2em">
    <p style="text-align: center; color: #FF8050; font-size: 1.2em">
    Change Password
    </p>
  <%= form_with local: true do |form| %>
    <%= form.label(:password, "Password: ") %>
    <%= form.password_field(:password) %> <br><br>
    <%= form.label(:value, "Re-Enter Password: ") %>
    <%= form.password_field(:value) %> <br><br>
    <%= form.submit("Change Password") %>
 
  <% end %>

  <br><br>
  <%= link_to 'Home', users_path %>
</body>