<head>
    <p style="text-align: center; color: #1589FF; font-size: 1.5em">
        User Portal
    </p>
</head>
<body style="text-align: center; color: #1589FF; font-size: 1.2em">
    <p style="text-align: center; color: #FF8050; font-size: 1.2em">
    Edit User
    </p>
  <%= form_with local: true do |form| %>
    <%= form.label(:name, "Name: ") %>
    <%= form.text_field(:name, value: @user.name) %> <br><br>
    <%= form.label(:email, "Email: ") %>
    <%= form.text_field(:email, value: @user.email) %> <br><br>
    <%= form.label(:contact, "Contact: ") %>
    <%= form.text_field(:contact, value: @user.contact) %> <br><br>
    <%= form.label(:password, "Password: ") %>
    <%= form.password_field(:password, value: @user.password) %> <br><br>
    Type: <%= form.select :user_type, ['Broker', 'Owner', 'Buyer']%><br><br>
    <%= form.submit("Update") %>
 
  <% end %>

  <br><br>
  <%= link_to 'Home', users_path %>
</body>