<head>
    <p style="text-align: center; color: #1589FF; font-size: 1.5em">
        User Portal
    </p>
</head>
<body style="text-align: center; color: #1589FF; font-size: 1.2em">
    <p style="text-align: center; color: #FF8050; font-size: 1.2em">
    Your Details
    </p>
      <h1>Hi <%= @user.name %></h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Contact</th>
      <th></th>
      <th></th>
    </tr>

      <tr>
        <td><%= @user.id %></td>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.contact %></td>
        <td></td>
        <td><%= link_to 'Show', show_path(@user) %></td>
        <td><%= link_to 'Edit Bio', edit_bio_path(@user) %></td>
        <td><%= link_to 'Change Password', change_password_path(@user) %></td>
      </tr>
  </table>
  <p>
  <%= link_to 'Logout', users_signout_path %>
  </p>
</body>