<head>
    <p style="text-align: center; color: #1589FF; font-size: 1.5em">
        User Portal
    </p>
</head>
<body style="text-align: center; color: #1589FF; font-size: 1.2em">
    <p style="text-align: center; color: #FF8050; font-size: 1.2em">
    Sign Up
    </p>
  <%= form_with local: true do |form| %>

    <%= form.label(:name, "Name: ") %>
    <%= form.text_field(:name) %> <br><br>
    <%= form.label(:email, "Email: ") %>
    <%= form.text_field(:email) %> <br><br>
    <%= form.label(:contact, "Contact: ") %>
    <%= form.text_field(:contact) %> <br><br>
    <%= form.label(:password, "Password: ") %>
    <%= form.password_field(:password) %> <br><br>
    Category: <%= form.select :user_type, ['Broker', 'Owner', 'Buyer']%>
    <br><br>
    <%= form.submit("Create") %>
<% end %>

<br><br>
<%= link_to 'Sign In to Existing User', users_signin_path %>
</body>