<head>
    <p style="text-align: center; color: #1589FF; font-size: 1.5em">
        Admin Portal
    </p>
</head>
<body style="text-align: center; color: #1589FF; font-size: 1.2em">
    <p style="text-align: center; color: #FF8050; font-size: 1.2em">
    Search Result
    </p>
     <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Contact</th>
    </tr>
 
    <% @adminObj.each do |user| %>
      <tr>
        <td><%= user[:id] %></td>
        <td><%= user[:name] %></td>
        <td><%= user[:email] %></td>
        <td><%= user[:contact] %></td>
        <td><%= link_to 'Show', adminuser_path(user) %></td>
        <td><%= link_to 'Edit Information', edit_adminuser_path(user) %></td>
        <td><%= link_to 'Change Password', adminuser_change_password_path(user) %></td>
        <td><%= link_to 'Add/Edit Parent', adminuser_add_parent_path(user) %></td>
        <td><%= link_to 'Change User Status', adminuser_deactivate_path(user) %></td>
      </tr>
    <% end %>
  </table>
        
    <br><br>
    <%= link_to 'Search', admin_search_path %>
    <br><br>
    <%= link_to 'Home', admin_index_path %>
    <br><br>
    <%= link_to 'Logout', admin_signout_path %>
</body>