<head>
    <p style="text-align: center; color: #1589FF; font-size: 1.5em">
        Admin Portal
    </p>
</head>
<body style="text-align: center; color: #1589FF; font-size: 1.2em">
    <p style="text-align: center; color: #FF8050; font-size: 1.2em">
    Search
    </p>
    <%= form_with local: true   do |form| %>
        <h4>
            Field: <%= form.select :field, ['email', 'name', 'contact']%>
            <br><br>
            Search : <%= form.text_field :query %><br><br> 
            <%= form.submit "Search" %>
        </h4>
    <% end %>
    <br><br>
    <%= link_to 'Home', admin_index_path %>
</body>