<head>
    <p style="text-align: center; color: #1589FF; font-size: 1.5em">
        Admin Portal
    </p>
</head>
<body style="text-align: center; color: #1589FF; font-size: 1.2em">
    

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Number of Profiles Created</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%=@report.date%></td>
                <td><%=@report.no_of_profiles%></td> 
            </tr>
        </tbody>
    </table>

    <br><br>
    <%= link_to 'User Portal', adminusers_path %> 
    <br><br>
    <%= link_to 'Search', admin_search_path %>
    <br><br>
    <%= link_to 'Report', reports_index_path %>
    <br><br>
    <p>
    <%= link_to 'Signout', admin_signout_path %>
    </p>
</body>