<head>
    <p style="text-align: center; color: #1589FF; font-size: 1.5em">
        User Portal
    </p>
</head>
<body style="text-align: center; color: #1589FF; font-size: 1.2em">
    <p style="text-align: center; color: #FF8050; font-size: 1.2em">
    Add/Edit Parent
    </p>
  <%= form_with local: true do |form| %>
    <%= form.label(:parent_id, "Parent: ") %>
    <%= form.text_field(:parent_id, value: @adminObj.parent_id) %> <br><br>
    <%= form.submit("Add Parent") %>
 
  <% end %>

    <br><br>
    <%= link_to 'User Portal Home', adminusers_path %>
    <br><br>
    <%= link_to 'Admin Portal Home', admin_index_path %>
    <br><br>
    <%= link_to 'Admin Signout', admin_signout_path %>
</body>