<head>
    <p style="text-align: center; color: #1589FF; font-size: 1.5em">
        Admin Portal
    </p>
</head>
<body style="text-align: center; color: #1589FF; font-size: 1.2em">
    <p style="text-align: center; color: #FF8050; font-size: 1.2em">
    All Users Information
    </p>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Status</th>
      <th>Parent</th>
      <th>Updated At</th>
      <th></th>
    </tr>
 
    <% @adminObj.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.contact %></td>
        <td><%= user.status %></td>
        <td><%= user.parent_id %></td>
        <td><%= user.updated_at %></td>
        <td><%= link_to 'Show', adminuser_path(user) %></td>
        <td><%= link_to 'Edit', edit_adminuser_path(user) %></td>
      </tr>
    <% end %>
  </table>
  <br><br>
  <%= link_to 'Search', admin_search_path %>
  <br><br>
  <%= link_to 'Create New User', adminusers_signup_path %>
  <br><br>
  <%= link_to 'Admin Portal Home', admin_index_path %>
  <br><br>
  <%= link_to 'Admin Signout', admin_signout_path %>
</body>