<head>
    <p style="text-align: center; color: #1589FF; font-size: 1.5em">
        User Portal
    </p>
</head>
<body style="text-align: center; color: #1589FF; font-size: 1.2em">
    <p style="text-align: center; color: #FF8050; font-size: 1.2em">
    Your Details
    </p>
    <% if logged_in? %>
      <h1>Hi <%= current_user.name %></h1>
    <%end%>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Parent</th>
      <th>Created At</th>
      <th></th>
    </tr>

      <tr>
        <td><%= current_user.id %></td>
        <td><%= current_user.name %></td>
        <td><%= current_user.email %></td>
        <td><%= current_user.phone %></td>
        <td><%= current_user.parent %></td>
        <td><%= current_user.created_at %></td>
        <td><%= link_to 'Show', user_path(current_user) %></td>
        <td><%= link_to 'Edit', edit_user_path(current_user) %></td>

        <!-- <td><%= link_to 'Destroy', user_path(current_user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
  </table>
  <p>
  <%= link_to 'Logout', users_logout_path %>
  </p>
</body>