<%= form_with scope: :user, url: users_path, local: true do |form| %>

    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        <br>Information is too short.
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <%= form.label(:name, "Name: ") %>
    <%= form.text_field(:name) %> <br><br>
    <%= form.label(:email, "Email: ") %>
    <%= form.text_field(:email) %> <br><br>
    <%= form.label(:phone, "Phone: ") %>
    <%= form.text_field(:phone) %> <br><br>
    <%= form.label(:password, "Password: ") %>
    <%= form.password_field(:password) %> <br><br>
    <%= form.label(:parent, "Parent: ") %>
    <%= form.text_field(:parent) %> <br><br>
    <%= form.submit("Create") %>
<% end %>


<%= link_to 'Home', users_path %>