<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @user.phone %>
</p>
<p>
  <strong>Parent:</strong>
  <%= @user.parent %>
</p>
<%= link_to 'Home', users_path %>